.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 80%;
  height: 262px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 6px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px black;
}

.card img {
  width: 8vw;
}

.card p {
  font-size: 20px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  position: fixed;
  /* Changed from sticky to fixed */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 1.5% 0;
  justify-content: center;
}

.pagination button {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.2s;
}

.pagination button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
}