.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 80%;
  height: 262px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 6px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 8vw;
}

.card p {
  font-size: 20px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  position: sticky;
  margin: 1.5% 0;
  margin-left: auto;
  right: 50%;
  justify-content: center;
}

.pagination button {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.2s;
}

.pagination button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
}

.sort {
  background-color: #000000;
  color: #ffffff;
  width: 260px;
  height: 55px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 40px;
  border-radius: 5px;
  border: 5px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.sort:hover {
  color: #000000;
  background: white;
  border: 5px solid black;
}